server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gateway_db
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: ms-cuenta
              uri: http://localhost:8001
              predicates:
                - Path=/api/cuentas/**

            - id: ms-usuario
              uri: http://localhost:8002
              predicates:
                - Path=/api/usuarios/**

            - id: ms-viaje
              uri: http://localhost:8003
              predicates:
                - Path=/api/viajes/**

            - id: ms-facturacion-factura
              uri: http://localhost:8004
              predicates:
                - Path=/api/factura/**

            - id: ms-facturacion-detalle
              uri: http://localhost:8004
              predicates:
                - Path=/api/detalleFactura/**

            - id: ms-facturacion-tarifa
              uri: http://localhost:8004
              predicates:
                - Path=/api/tarifa/**

            - id: ms-monopatin
              uri: http://localhost:8005
              predicates:
                - Path=/api/monopatin/**