spring:
  application:
    name: ms-facturacion
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
    url: jdbc:mysql://localhost:3306/facturacion?createDatabaseIfNotExist=true
  jpa:
    show-sql: true
    database: mysql
    hibernate:
      ddl-auto: create-drop
  sql:
    init:
      mode: always

server:
  port: 8004
